{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
     <!-- Bootstrap files (jQuery first, then Popper.js, then Bootstrap JS) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
</head>
<body>

    <style>

        .nav{
            padding: 10px;
        }

        .logo{
            text-align: center;
        }

        .logo > img{
            width: 200px;
        }

        .home > a{
            font-size: 30px;
            color: rgb(173, 173, 173);
        }
        
        .home > a:hover{
            color: rgb(206, 200, 200);
        }
    </style>

    <!-- Icones Nav -->
    <div class="nav">
        <div class="home">
            <a href="/">
                <i class="fas fa-home"></i>
            </a>  
        </div>  
    </div>

    <!-- Logo -->
    <div class="logo">
        <img src="{% static 'images/logo.png' %}">
    </div>
   
    <!-- Container -->
    <div class="container p-3">
        {% block content %}{% endblock %}
    </div>

</body>
</html>